{
    "Version": "2012-10-17",
    "Statement": [
        {   "Sid": "BasicGluePermissions",
            "Effect": "Allow",
            "Action": [
                "lakeformation:*",
                "glue:*",
                "s3:GetBucketLocation",
                "s3:ListBucket",
                "s3:ListAllMyBuckets",
                "s3:GetBucketAcl",
				"s3:CreateBucket",
				"s3:GetObject",
                "s3:PutObject",
                "s3:DeleteObject",
                "iam:ListRolePolicies",
                "iam:GetRole",
                "iam:GetRolePolicy",
                "iam:ListUsers",
                "iam:ListRoles",
                "cloudwatch:PutMetricData"
            ],
            "Resource": [
                "*"
            ]
        },
        {
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents",
                "logs:AssociateKmsKey"                
            ],
            "Resource": [
                "arn:aws:logs:*:*:/aws-glue/*"
            ]
        }
    ]
}