{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "quicksight:DescribeDashboard",
        "quicksight:ListDashboards",
        "quicksight:GetDashboardEmbedUrl",
        "quicksight:DescribeAnalysis",
        "quicksight:ListAnalyses"
      ],
      "Resource": "*"
    }
  ]
}