{
	"Version": "2012-10-17",
	"Statement": [
		
		{
			"Effect": "Allow",
			"Action": [
				"lambda:InvokeFunction"
			],
			"Resource": [
				"arn:aws:lambda:us-west-2:442426866507:function:sdge-dcctr-dev-wus2-lambda-ccc-analytics-nice-lambda:*",
                "arn:aws:lambda:us-west-2:442426866507:function:sdge-dcctr-dev-wus2-lambda-ccc-analytics-nice-lambda"
			]
		}
	]
}